<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Results</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <p><b>Imię</b></p>
        </div>
        <div class="col">
            <p th:text="${inputType.name}"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><b>Nazwisko</b></p>
        </div>
        <div class="col">
            <p th:text="${inputType.surname}" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><b>Obecna afiliacja</b></p>
        </div>
        <div class="col">
            <p  th:text="${inputType.affiliation}" />
        </div>
    </div>
</div>

<h3 th:text="'Znaleziono ' + ${session.results.opensearchTotalResults} + ' autorów'"></h3>
<table class="table">
    <thead >
        <tr>
            <th scope="col"></th>
            <th scope="col">Afiliacja kraj</th>
            <th scope="col">Afiliacja miasto</th>
            <th scope="col">Afiliacja nazwa</th>
            <th scope="col">Afiliacja SCOPUS ID</th>
            <th scope="col">Afiliacja URL</th>
        </tr>
    </thead>

    <div class="col-xs-12" th:each="author: ${session.results.entry}">
        <p th:text="${author.nameVariant[0].givenName}"></p>
        <p th:text="${author.nameVariant[0].surname}"></p>
        <tbody>
            <tr >
                <td th:text="${author.dcIdentifier}"></td>
                <td th:text="${author.affiliationCurrent.affiliationCountry}" ></td>
                <td th:text="${author.affiliationCurrent.affiliationCity}"></td>
                <td th:text="${author.affiliationCurrent.affiliationName}"></td>
                <td th:text="${author.affiliationCurrent.affiliationId}"></td>
                <td th:text="${author.affiliationCurrent.affiliationUrl}"></td>
            </tr>
        </tbody>
    </div>
</table>
<!--<div th:each="work: ${session.results.entry}">
    <p th:text="${work.dcIdentifier}" />
    <p th:text="'Afiliacja kraj:' + ${work.affiliationCurrent.affiliationCountry}" />
    <p th:text="'Afiliacja miasto:' + ${work.affiliationCurrent.affiliationCity}" />
    <p th:text="'Afiliacja nazwa:' + ${work.affiliationCurrent.affiliationName}" />
    <p th:text="'Afiliacja SCOPUS Id:' + ${work.affiliationCurrent.affiliationId}" />
    <p th:href="${work.affiliationCurrent.affiliationUrl}" th:text="'Afiliacja odnośnik:' + ${work.affiliationCurrent.affiliationUrl}" />
</div>-->
<div th:each="authWork: ${session.authorWorks}">
    <h3 th:text="'Prace: ' + ${#lists.size(authWork)}"></h3>
    <div th:each="work: ${authWork}" class="col-xs-12 rounded" style="margin-top: 50px">
        <p class="bg-info" style="height: 50px;"/>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p><b>Nazwa</b></p>
                </div>
                <div class="col">
                    <p  th:text="${work.coredata.prismPublicationName}" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><b>Tytuł</b></p>
                </div>
                <div class="col">
                    <p  th:text="${work.coredata.dcTitle}" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><b>Typ Pracy</b></p>
                </div>
                <div class="col">
                    <p  th:text="${work.coredata.prismAggregationType}" />
                </div>
            </div>
            <div class="row">
                <div th:if="${work.coredata.dcDescription}" class="col">
                    <p><b>Opis</b></p>
                </div>
                <div th:if="${work.coredata.dcDescription}" class="col">
                    <p  th:text="${work.coredata.dcDescription}" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><b>DOI</b></p>
                </div>
                <div class="col">
                    <p  th:text="${work.coredata.prismDoi}" />
                </div>
            </div>
            <div class="row">
                <div th:if="${work.coredata.prismPageRange}" class="col">
                    <p><b>Zakres stron</b></p>
                </div>
                <div th:if="${work.coredata.prismPageRange}" class="col">
                    <p  th:text=" ${work.coredata.prismPageRange}" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><b>Data wydania</b></b></p>
                </div>
                <div class="col">
                    <p  th:text="${work.coredata.prismCoverDate}" />
                </div>
            </div>
        </div>
            <!--<p  th:text="'Nazwa:' + ${work.coredata.prismPublicationName}" />-->
            <!--<p th:text="'Tytuł:' + ${work.coredata.dcTitle}" />-->
            <!--<p th:text="'Typ Pracy:' + ${work.coredata.prismAggregationType}" />-->
            <!--<p th:if="${work.coredata.dcDescription}" th:text="'Opis:' + ${work.coredata.dcDescription}" />-->
            <!--<p th:text="'DOI:' + ${work.coredata.prismDoi}" />-->
            <!--<p th:if="${work.coredata.prismPageRange}" th:text="'Zakres stron:' + ${work.coredata.prismPageRange}" />-->
            <!--<p th:text="'Data wydania:' + ${work.coredata.prismCoverDate}" />-->

        <h3>Autorzy: </h3>

        <div>
            <table class="table" >
            <thead class="thead-dark">
            <tr>
                <th scope="col">author UID</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <!--TODO dodaj afiliację-->
            </tr>
            </thead>
            <tbody>
            <tr  th:each="author: ${work.authors.author}">
                <td th:text="${author.auid}"></td>
                <td th:text="${author.preferredName.ceGivenName}"></td>
                <td th:text="${author.preferredName.ceSurname}"></td>
                <!--TODO dodaj afiliację-->
            </tr>
            </tbody>
        </table>
        </div>
        <!--<div th:each="author: ${work.authors.author}">-->
            <!--<p>^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^</p>-->
            <!--<p th:text="${author.auid}"/>-->
            <!--<p th:text="${author.preferredName.ceGivenName}"/>-->
            <!--<p th:text="${author.preferredName.ceSurname}"/>-->
            <!---->
            <!--&lt;!&ndash;<h3>Afiliacja</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;<p th:if="${author.affiliation[0].href}" th:text="${author.affiliation[0].href}"/>&ndash;&gt;-->
        <!--</div>-->
    </div>
</div>


<!--<p th:text="${session.startIndex}" th:unless="${session == null}">[...]</p>-->
<!--<p th:text="${session.eid}" th:unless="${session == null}">[...]</p>-->
<!--<p th:text="${session.title}" th:unless="${session == null}">[...]</p>-->
<!--<p th:text="${session.creator}" th:unless="${session == null}">creator: [...]</p>-->
<!--<p th:text="${session.publicationName}" th:unless="${session == null}">publication name: [...]</p>-->
<!--<p th:text="${session.issn}" th:unless="${session == null}">issn: [...]</p>-->
<!--<p th:text="${session.volume}" th:unless="${session == null}">volume: [...]</p>-->
<!--<p th:text="${session.pageRange}" th:unless="${session == null}">page range: [...]</p>-->
<!--<p th:text="${session.coverDate}" th:unless="${session == null}">cover date: [...]</p>-->
<!--<p th:text="${session.doi}" th:unless="${session == null}">doi: [...]</p>-->

<!--<p th:text="${res.getOpensearchQuery().getSearchTerms()}">[...]</p>-->
<a href="/">Submit another message</a>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>