<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Results</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="col-xs-12" th:each="validations, v1: ${session.validations}">
    <div class="col-xs-12" th:each="validations2, v2: ${validations}">
        <div th:if="${session.authors[v1.index].searchResults}">
            <h2>AUTHOR</h2>
            <h3 th:text="${session.authors[v1.index].searchResults.entry[v2.index].preferredName.givenName }" />
            <h3 th:text="${session.authors[v1.index].searchResults.entry[v2.index].preferredName.surname }" />
        </div>
        <div class="col-xs-12" th:if="${validations != null and validations3 != null}" th:each="validations3, v3: ${validations2.singleValidationClass}">
            <p th:text="${validations3.titles.scopusTitle } + ' scopusTitle'" />
            <p th:text="${validations3.titles.orcidTitle } + ' orcidTitle'" />
            <p th:text="${validations3.titles.validationResultTitle }" />
            <p th:text="${validations3.doi.orcidDOI } + ' orcidDOI' "/>
            <p th:text="${validations3.doi.scopusDOI } + ' scopusDOI'" />
            <p th:text="${validations3.doi.validationResultDOI }" />
        </div>
        <br>
    </div>
</div>
--------------------------------------------------------------
<br>
<br>
<br>
<br>
</body>
</html>